
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
}
.big-heading2 {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
  color: #390f3f;
  font-weight: bold;
  margin-right: 690px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.big-heading3 {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.2;
  color:black;
  font-weight: bold;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;

}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.image1{
  width: 65%;
}

/* Containers */
#rcorners1 {
  border-radius: 25px;
  background: #ad68b8;
  padding: 20px; 
  width: 80%;
  height: 600px;  
  margin-left: 150px;
  box-shadow: 10px 10px 5px rgb(236, 188, 236) inset;
}
#rcorners2 {
  border-radius: 25px;
  background: #ad68b8;
  padding: 20px; 
  width: 80%;
  height: 790px;  
  margin-left: 150px;
  box-shadow: 10px 10px 5px rgb(236, 188, 236) inset;
}
#rcorners3 {
  border-radius: 25px;
  background: #ad68b8;
  padding: 20px; 
  width: 80%;
  height: 790px;  
  margin-left: 150px;
  box-shadow: 10px 10px 5px rgb(236, 188, 236) inset;
}
#rcorners4 {
  border-radius: 25px;
  background: #ad68b8;
  padding: 20px; 
  width: 80%;
  height: 730px;  
  margin-left: 150px;
  box-shadow: 10px 10px 5px rgb(236, 188, 236) inset;
}
.text{
  padding-top: 30px;
  color: black;
  font-size: large;
  text-align: left;
}
.container-fluid{
  padding: 0% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: rgb(239, 207, 240);
}

/* Navigation Bar */

.navbar {
  padding: 0 0 7.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color:#ad68b8;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 15%;
}

/* Title Image */

.title-image {
  /* width: 60%;
  transform: rotate(25deg); */
  position: absolute;
  right: -10%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}



.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
} */

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 130px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}